

<h1>Submit your posts here:</h1>
<body>
<form action="/api/posts" method="POST" role="form">
	<legend>New Post</legend>

	<div class="form-group">
		<label for="">title</label>
		<input type="text" name="title" class="form-control cstm-form-input" id="" placeholder="title">
	</div>
	<div class="form-group">
		<label for="">image</label>
		<input type="text" name="image" class="form-control cstm-form-input" id="" placeholder="image">
	</div>
	<div class="form-group">
		<label for="">content</label>
		<input type="text" name="image" class="form-control cstm-form-input" id="" placeholder="title">
	</div>
	<button id="" type="submit" class="btn btn-primary">Submit</button>
</form>
</body>

<script src="https://code.jquery.com/jquery-2.2.0.js"></script>