<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Title</title>
  <!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="main.css">

  </head>
<body>
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Contents ...</p>
    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>



<section>
  <div class="">
    <div class="row">
      <div class="media col-sm-3">
        <div class="media-left">
          <a href="#">
            <img class="img-circle" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQaX_RufnN6vXe8SZvGzw-v0znU3Ok_aoiYIRHjIb8IOwuuGw9QEg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">@Twitter_UserName</h4>
          <p>This is going to be the content of the tweet</p>
          <p>DATE POSTED</p>
        </div>
      </div>
      <div class="media col-sm-3">
        <div class="media-left">
          <a href="#">
            <img class="img-circle" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQaX_RufnN6vXe8SZvGzw-v0znU3Ok_aoiYIRHjIb8IOwuuGw9QEg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">@Twitter_UserName</h4>
          <p>This is going to be the content of the tweet</p>
          <p>DATE POSTED</p>
        </div>
      </div>
      <div class="media col-sm-3">
        <div class="media-left">
          <a href="#">
            <img class="img-circle" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQaX_RufnN6vXe8SZvGzw-v0znU3Ok_aoiYIRHjIb8IOwuuGw9QEg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">@Twitter_UserName</h4>
          <p>This is going to be the content of the tweet</p>
          <p>DATE POSTED</p>
        </div>
      </div>
  </div>
</section>


</body>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://fb.me/react-0.13.3.js"></script>
<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

<script  type="text/jsx" src="twitterCard.js"></script>
</html>